

/* 
    Created on  : 2018 3 鏈� 11 鏃� 16:22
    Author      : yhow
    URL         : 
    E-Mail      : 564223274@qq.com
*/


/*
    
  

*/




/*******************************************************************************
        ## GENREAL
*******************************************************************************/
.k-1{
	padding-top:10px;
	float:left !important;
	padding-right: 10px;
}


.k-select{
	float:left !important;
	padding-bottom: 10px;
	padding-right: 15px;
}

.k-select2{
	padding-bottom: 10px;
	padding-right: 15px;
}


.k-select-college{
	width:200px !important;

}

.k-submit{
	width:60px !important;
	background-color:#f00;
	color:#fff;
}

.k-image1{
	width: 150px;
    position: relative;
    bottom: -20px;
    background: #FFFFFF;
    padding: 3px;
    margin-top:-20px;
}
.k-h1{
	color: #000;
    position: absolute;
    margin-top: -30px;
    margin-left: 160px;
}

.k-bg1{
	margin-top:0px;
	
}

.k-p1{
	float:left;
}
.k-form1{
	padding-top: 10px;
}

.k-col{
	padding-left:20px;
	padding-bottom:20px;
}
